<header class="hero-unit" id="banner"  >
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-2 text-left">
        <a href="/"><img class="img-circle logo" src="assets/images/logo.png"></a>
      </div>
      <div class="col-md-8">
        <h1 class="header text-center">MAQUIRENT</h1>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row clearfix">
    <div class="col-md-12">
      <h2 class="header text-info"> Detalle De Maquinaria</h2>
    </div>
  </div>
  <div ng-show="success=false" class="row alert alert-success text-center" role="alert">
    <div class="col-md-offset-2 col-md-6 vertical-center">
      <span><h2>La maquina ha sido Borrada</h2></span>
    </div>
    <div  class="col-md-4 vertical-center">
      <a href="/" class="btn btn-default btn-lg close-button text-right">
        <span>X</span>
      </a>
    </div>
  </div>
  <div ng-show="error=false" class="row alert alert-warning text-center" role="alert">
    <div class="col-md-offset-2 col-md-6 vertical-center">
      <span><h2>La maquina no ha sido Borrada</h2></span>
    </div>
    <div class="col-md-4 vertical-center">
      <a href="/" class="btn btn-default btn-lg close-button text-right">
        <span>X</span>
      </a>
    </div>
  </div>
  <div class="row clearfix thumbnail" ng-repeat="machine in listAPIid">
    <div class="col-md-6 column">
      <img class="col-md-12" src="{{machine.imagen}}" class="img-rounded">
    </div>
    <div class="col-md-6 column">
      <table class="table table-hover table-condensed text-info">
        <tr class="active warning">
          <td><h4>{{machine.nombre}}</h4></td>
        </tr>
        <tr>
          <td><h5>Precio anterior: ${{machine.precio}}</h5></td>
        </tr>
        <tr>
          <td><h5>Ahorra: ${{machine.precio - machine.precioDescuento}}</h5></td>
        </tr>
        <tr>
          <td><h5>Precio actual: ${{machine.precioDescuento}}</h5></td>
        </tr>
        <tr>
          <td><h6>Disponible: {{machine.disponibilidad}}</h6></td>
        </tr>
        <tr>
          <td><h5>{{machine.descripcion}}</h5></td>
        </tr>
      </table>
      <div class="col-md-12 column">
        <a type="button" class="btn btn-warning btn-block" ng-click="delete()">Eliminar Maquina</a>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <div class="row clearfix" id="contact">
      <div class="col-md-12 column">
        <p>
          <a href="mailto:feedback@rumboteca.com">feedback@maquirent.com</a>
        </p>
        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
          </li>
          <li>
            <a href="https://github.com/IronSummitMedia/rumboteca" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
          </li>
          <li>
            <a href="https://plus.google.com/+rumboteca/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</footer>

